<footer class="site-footer">

  <div class="wrapper">

    <span class="footer-heading">
      <a class="email" href="mailto:{{site.email}}">{{site.email}}</a><br />
      &copy; {{ site.title }} 
      <br/> {{site.description}}
      <br/> <a href="/atom.xlm">RSS FEED</a>
    </span>

  </div>

</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-11900362-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-11900362-2');
</script>

<script src="{{site.url}}/js/site.js"></script>