<header class="site-header">

  <nav class="navigation">
    <ul>
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ site.baseurl }}/about">About</a></li>
      <li><a href="http://artstation.com/taddmencer" target="_blank">Artstation</a></li>
      <li><a href="{{ site.baseurl }}/prototypes">Prototypes</a></li>
    </ul>
  </nav>
  
  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/"><img src="/images/clm-logo.png" alt="{{ site.title }}" /></a>

  </div>

  <div class="header-badge">
    <a href="{{ site.baseurl }}/">
        <img src="/assets/headshot.jpg" alt="" />
    </a>
  </div>

</header>
