<header class="site-header">

  <nav class="navigation">
    <ul>
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ site.baseurl }}/about">About</a></li>
      <!-- <li><a href="http://artstation.com/taddmencer" target="_blank">Artstation</a></li> -->
      <li><a href="{{ site.baseurl }}/prototypes">Prototypes</a></li>
      <li><a href="https://anchor.fm/thelabcast" target="_blank">The LabCast PodCast</a></li>
      <li>|</li>
      <!--<li><b><a href="https://www.paypal.me/cubelabmedia" target="_blank">Support Via PayPal</a></b></li>-->
      <li><script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Us on Ko-fi', '#90650d', 'L3L7MTF3');kofiwidget2.draw();</script> </li>
    </ul>
  </nav>
  
  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/"><img src="/images/clm-logo.png" alt="{{ site.title }}" /></a>

  </div>
</header>
